Repository intel/ScalableVectorSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel, @ethanglaser, @homksei, @aguerreb, @napetrov

.github/CODEOWNERS:

# C/C++ library code
/include/               @ibhati @dian-lun-lin @Alexsandruss @ahuber21
/cmake/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tests/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 @yuejiaointel 
/benchmark/             @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tools/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/utils/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 

# Python and other language bindings
/bindings/              @ethanglaser @ibhati @dian-lun-lin @Alexsandruss @ahuber21

# Examples and datasets
/examples/              @ibhati @dian-lun-lin @ahuber21
/data/                  @ibhati @ahuber21

# Docker and build environment
/docker/                @mihaic @ahuber21 

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov

fix(sqdataset): add missing pragma once to header (#212)
  include/svs/extensions/vamana/scalar.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Refactored VamanaIndex implementation code
  bindings/cpp/include/vamana_index.h
  bindings/cpp/src/dynamic_vamana_index.cpp
  bindings/cpp/src/dynamic_vamana_index_impl.h
  bindings/cpp/src/svs_runtime_utils.h
  bindings/cpp/src/training_impl.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Fix non-filtered case in `DynamicVamanaIndex::search()`
  bindings/cpp/src/dynamic_vamana_index_impl.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add new `FlatIndex` API and fix abstract interface descructors
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/flat_index.h
  bindings/cpp/include/vamana_index.h
  bindings/cpp/src/dynamic_vamana_index.cpp
  bindings/cpp/src/flat_index.cpp
  bindings/cpp/src/flat_index_impl.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Enable IVF train only mode where centroid are built but data is not added in the cluster. Added comprhensive tests for IVF
  include/svs/index/ivf/common.h
  include/svs/index/ivf/hierarchical_kmeans.h
  include/svs/index/ivf/index.h
  include/svs/index/ivf/kmeans.h
  tests/svs/index/ivf/common.cpp
  tests/svs/index/ivf/hierarchical_kmeans.cpp
  tests/svs/index/ivf/kmeans.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Update static library tarball
  bindings/cpp/CMakeLists.txt
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fixes for faiss tests to pass
  bindings/cpp/CMakeLists.txt
  bindings/cpp/src/training.cpp
  bindings/cpp/src/vamana_index.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

dispatch lambdas into error handler
  bindings/cpp/src/svs_runtime_utils.h
  bindings/cpp/src/training.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Minor adjustments + updated static lib
  bindings/cpp/CMakeLists.txt
  bindings/cpp/src/dynamic_vamana_index.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add version to subfunctions
  include/svs/index/flat/dynamic_flat.h
  include/svs/index/flat/flat.h
  include/svs/index/vamana/dynamic_index.h
  include/svs/index/vamana/index.h
  include/svs/orchestrators/vamana.h
  include/svs/version.hpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

feature: add version namespace
  bindings/cpp/include/IndexSVSFlatImpl.h
  bindings/cpp/include/IndexSVSImplDefs.h
  bindings/cpp/include/IndexSVSVamanaImpl.h
  bindings/cpp/include/IndexSVSVamanaLVQImpl.h
  bindings/cpp/include/IndexSVSVamanaLeanVecImpl.h
  bindings/cpp/include/dynamic_vamana_index.h
  bindings/cpp/include/flat_index.h
  bindings/cpp/include/training.h
  bindings/cpp/include/vamana_index.h
  bindings/cpp/include/version.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add version.h to cmake
  bindings/cpp/CMakeLists.txt
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

consistently use runtime_error_wrapper()
  bindings/cpp/src/dynamic_vamana_index.cpp
  bindings/cpp/src/svs_runtime_utils.h
  bindings/cpp/src/training.cpp
  bindings/cpp/src/training_impl.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21
