Repository intel/ScalableVectorSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel, @ethanglaser, @homksei, @aguerreb, @napetrov

Sort the buffer before adding new neighbors to ensure buffer invariants
  include/svs/index/vamana/extensions.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Update conda installation to intel channel
  examples/cpp/shared/README.md
Owners: @ibhati, @dian-lun-lin, @ahuber21

Initial implementation of SVS Runtime package
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/IndexSVSFlatImpl.h
  bindings/cpp/include/IndexSVSImplDefs.h
  bindings/cpp/include/IndexSVSVamanaImpl.h
  bindings/cpp/include/IndexSVSVamanaLVQImpl.h
  bindings/cpp/include/IndexSVSVamanaLeanVecImpl.h
  bindings/cpp/runtimeConfig.cmake.in
  bindings/cpp/src/IndexSVSFlatImpl.cpp
  bindings/cpp/src/IndexSVSImplUtils.h
  bindings/cpp/src/IndexSVSVamanaImpl.cpp
  bindings/cpp/src/IndexSVSVamanaLVQImpl.cpp
  bindings/cpp/src/IndexSVSVamanaLeanVecImpl.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Initial support for private source
  bindings/cpp/CMakeLists.txt
  bindings/cpp/src/IndexSVSVamanaLVQImpl.cpp
  bindings/cpp/src/IndexSVSVamanaLeanVecImpl.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Point SVS_URL to LTO-enabled tarball
  bindings/cpp/CMakeLists.txt
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Improve svs_runtime CMakeLists.txt to use pre-defined LVQ heades and allow non-LTO linking
  bindings/cpp/CMakeLists.txt
  bindings/cpp/runtimeConfig.cmake.in
  bindings/cpp/src/IndexSVSVamanaLVQImpl.cpp
  bindings/cpp/src/IndexSVSVamanaLeanVecImpl.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Fixup C++ runtime CMakeLists for internal build
  bindings/cpp/CMakeLists.txt
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Apply formatting
  bindings/cpp/include/IndexSVSFlatImpl.h
  bindings/cpp/src/IndexSVSFlatImpl.cpp
  bindings/cpp/src/IndexSVSVamanaImpl.cpp
  bindings/cpp/src/IndexSVSVamanaLVQImpl.cpp
  bindings/cpp/src/IndexSVSVamanaLeanVecImpl.cpp
  tools/clang-format.sh
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic

fix: store data members & make faiss tests pass
  bindings/cpp/include/IndexSVSImplDefs.h
  bindings/cpp/include/IndexSVSVamanaImpl.h
  bindings/cpp/include/IndexSVSVamanaLVQImpl.h
  bindings/cpp/include/IndexSVSVamanaLeanVecImpl.h
  bindings/cpp/src/IndexSVSVamanaImpl.cpp
  bindings/cpp/src/IndexSVSVamanaLVQImpl.cpp
  bindings/cpp/src/IndexSVSVamanaLeanVecImpl.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

bring back explicit enum vals
  bindings/cpp/include/IndexSVSImplDefs.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Re-add private source build condition
  bindings/cpp/CMakeLists.txt
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add pipeline to build cpp bindings
  .github/workflows/build-cpp-runtime-bindings.yml
  bindings/cpp/CMakeLists.txt
  docker/x86_64/build-svs-shared-static.sh
  docker/x86_64/manylinux228/Dockerfile
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

rename bash script
  .github/workflows/build-cpp-runtime-bindings.yml
  docker/x86_64/build-cpp-runtime-bindings.sh
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ahuber21

add steps to fix yaml error
  .github/workflows/build-cpp-runtime-bindings.yml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

Change runs-on to ubuntu-22.04
  .github/workflows/build-cpp-runtime-bindings.yml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

Add missing repo checkout
  .github/workflows/build-cpp-runtime-bindings.yml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

fix version comparison
  bindings/cpp/CMakeLists.txt
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

clean up copyright/docker files
  docker/x86_64/build-cpp-runtime-bindings.sh
  docker/x86_64/manylinux228/Dockerfile
Owners: @mihaic, @ahuber21

store vamana members
  bindings/cpp/src/IndexSVSVamanaImpl.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

set CMAKE_INSTALL_LIBDIR
  docker/x86_64/build-cpp-runtime-bindings.sh
Owners: @mihaic, @ahuber21

Add flexibility to gcc version check 11.2.*
  bindings/cpp/CMakeLists.txt
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add resuable function for linking statically to MKL
  .github/workflows/build-cpp-runtime-bindings.yml
  bindings/cpp/CMakeLists.txt
  cmake/mkl.cmake
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

wip
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/IndexSVSTrainingInfo.h
  bindings/cpp/include/IndexSVSVamanaLeanVecImpl.h
  bindings/cpp/include/detail/TrainingInfoImpl.h
  bindings/cpp/src/IndexSVSTrainingInfo.cpp
  bindings/cpp/src/IndexSVSVamanaLeanVecImpl.cpp
  bindings/cpp/src/detail/TrainingInfoImpl.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add build_leanvec
  bindings/cpp/include/IndexSVSVamanaLeanVecImpl.h
  bindings/cpp/src/IndexSVSVamanaLeanVecImpl.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Improved runtime API draft in new header
  bindings/cpp/include/vamana_index.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Update API header with comments
  bindings/cpp/include/vamana_index.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Initial faiss python test validation
  .github/workflows/build-cpp-runtime-bindings.yml
  docker/x86_64/manylinux228/Dockerfile
  docker/x86_64/test-cpp-runtime-bindings.sh
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ahuber21

Fix upload path
  docker/x86_64/test-cpp-runtime-bindings.sh
Owners: @mihaic, @ahuber21

Actually fix upload path
  .github/workflows/build-cpp-runtime-bindings.yml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

Add conda env creation
  docker/x86_64/test-cpp-runtime-bindings.sh
Owners: @mihaic, @ahuber21

feature: add version namespace
  include/svs/index/flat/dynamic_flat.h
  include/svs/index/flat/flat.h
  include/svs/index/vamana/dynamic_index.h
  include/svs/index/vamana/index.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add import
  include/svs/index/flat/dynamic_flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add version file
  include/svs/version.hpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

First implementation of the improved runtime Vamana API
  bindings/cpp/CMakeLists.txt
  bindings/cpp/include/IndexSVSImplDefs.h
  bindings/cpp/include/dynamic_vamana_index.h
  bindings/cpp/include/training.h
  bindings/cpp/include/vamana_index.h
  bindings/cpp/src/dynamic_vamana_index.cpp
  bindings/cpp/src/dynamic_vamana_index_impl.h
  bindings/cpp/src/svs_runtime_utils.h
  bindings/cpp/src/training.cpp
  bindings/cpp/src/training_impl.h
  include/svs/extensions/vamana/scalar.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Bug fix: sort search buffer before inserting nodes to keep the invaraints intact
  include/svs/index/vamana/extensions.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Bug Fix: Sort Search Buffer Before Node Insertion (#211)
  include/svs/index/vamana/extensions.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add faiss c++ tests
  docker/x86_64/test-cpp-runtime-bindings.sh
Owners: @mihaic, @ahuber21

Apply formatting
  bindings/cpp/include/IndexSVSImplDefs.h
  bindings/cpp/include/dynamic_vamana_index.h
  bindings/cpp/src/dynamic_vamana_index.cpp
  bindings/cpp/src/dynamic_vamana_index_impl.h
  bindings/cpp/src/svs_runtime_utils.h
  bindings/cpp/src/training.cpp
  bindings/cpp/src/training_impl.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix(sqdataset): add missing pragma once to header
  include/svs/extensions/vamana/scalar.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Fix `LeanVecTrainingData` API
  bindings/cpp/include/training.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

.github/CODEOWNERS:

# C/C++ library code
/include/               @ibhati @dian-lun-lin @Alexsandruss @ahuber21
/cmake/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tests/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 @yuejiaointel 
/benchmark/             @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tools/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/utils/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 

# Python and other language bindings
/bindings/              @ethanglaser @ibhati @dian-lun-lin @Alexsandruss @ahuber21

# Examples and datasets
/examples/              @ibhati @dian-lun-lin @ahuber21
/data/                  @ibhati @ahuber21

# Docker and build environment
/docker/                @mihaic @ahuber21 

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov
