Repository intel/ScalableVectorSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel, @ethanglaser, @homksei, @aguerreb, @napetrov

fix: clean
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: fix based on suggestions
  bindings/python/src/flat.cpp
  bindings/python/tests/test_flat.py
  tests/integration/exhaustive.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: fix test to call orig and same test with save and load
  bindings/python/tests/test_flat.py
  tests/integration/exhaustive.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: clean
  bindings/python/tests/test_flat.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: clean
  tests/integration/exhaustive.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

fix: clean
  tests/integration/exhaustive.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

fix: fix c++ test
  tests/integration/exhaustive.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

feature: save and load in flat index (#163)
  bindings/python/src/flat.cpp
  bindings/python/tests/test_flat.py
  include/svs/index/flat/flat.h
  include/svs/orchestrators/exhaustive.h
  tests/integration/exhaustive.cpp
  tests/svs/index/vamana/multi.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Fix some typos
  include/svs/core/data.h
  include/svs/index/ivf/clustering.h
  include/svs/lib/narrow.h
  include/svs/orchestrators/ivf.h
  utils/build_ivf.cpp
  utils/search_ivf.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic

Some more code improvements
  include/svs/index/ivf/common.h
  include/svs/index/ivf/index.h
  include/svs/lib/bfloat16.h
  utils/search_ivf.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic

typo
  include/svs/index/ivf/common.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: revert
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: clean
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: clean
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: clean
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Handle corner case in dynamic index where search buffer may lack sufficient results due to deleted vectors and sparse graph connectivity
  include/svs/index/vamana/dynamic_index.h
  include/svs/index/vamana/extensions.h
  include/svs/index/vamana/index.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Make the changes in single search instead of batch_search
  include/svs/index/vamana/dynamic_index.h
  include/svs/index/vamana/extensions.h
  include/svs/index/vamana/index.h
  include/svs/index/vamana/iterator.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Code reuse
  include/svs/index/vamana/extensions.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

change to v0.0.9
  CMakeLists.txt
  HISTORY.md
  NEWS.md
  bindings/python/setup.py
  bindings/python/tests/test_common.py
Owners: @aguerreb, @napetrov, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fixup
  tests/svs/lib/version.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

Use target buffer instead of size
  include/svs/index/vamana/extensions.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Fix dynamic buffer target capacity and window size functions
  include/svs/index/vamana/dynamic_index.h
  include/svs/index/vamana/dynamic_search_buffer.h
  include/svs/index/vamana/extensions.h
  tests/svs/index/vamana/search_buffer.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

feature: dynmaic flat ctrs and auto dynamic assemble
  include/svs/index/flat/dynamic_flat.h
  tests/CMakeLists.txt
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Handle corner in dynamic index with insufficient valid search results (#164)
  include/svs/index/vamana/dynamic_index.h
  include/svs/index/vamana/dynamic_search_buffer.h
  include/svs/index/vamana/extensions.h
  include/svs/index/vamana/index.h
  include/svs/index/vamana/iterator.h
  tests/svs/index/vamana/search_buffer.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

feature: add points added
  include/svs/index/flat/dynamic_flat.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

feature: add orchestrastor dybamic flat
  include/svs/index/flat/dynamic_flat.h
  include/svs/orchestrators/dynamic_flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

feature: delete_entries and compact
  include/svs/index/flat/dynamic_flat.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: remove unsed var
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

feature: save
  include/svs/index/flat/dynamic_flat.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: fix test
  include/svs/index/flat/dynamic_flat.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: fix test
  include/svs/index/flat/dynamic_flat.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: fix test
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

fix: fix test
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

fix: fix test
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

Handle corner in dynamic index with insufficient valid search results (#164)
  include/svs/index/vamana/dynamic_index.h
  include/svs/index/vamana/dynamic_search_buffer.h
  include/svs/index/vamana/extensions.h
  include/svs/index/vamana/index.h
  include/svs/index/vamana/iterator.h
  tests/svs/index/vamana/search_buffer.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

change to v0.0.9
  CMakeLists.txt
  HISTORY.md
  NEWS.md
  bindings/python/setup.py
  bindings/python/tests/test_common.py
  tests/svs/lib/version.cpp
Owners: @aguerreb, @napetrov, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

change to v0.0.9
  CMakeLists.txt
  HISTORY.md
  NEWS.md
  bindings/python/setup.py
  bindings/python/tests/test_common.py
  tests/svs/lib/version.cpp
Owners: @aguerreb, @napetrov, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

update NEWS.md after rebasing
  NEWS.md
Owners: @aguerreb, @napetrov

update NEWS.md after rebasing
  NEWS.md
Owners: @aguerreb, @napetrov

fixup
  NEWS.md
Owners: @aguerreb, @napetrov

.github/CODEOWNERS:

# C/C++ library code
/include/               @ibhati @dian-lun-lin @Alexsandruss @ahuber21
/cmake/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tests/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 @yuejiaointel 
/benchmark/             @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tools/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/utils/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 

# Python and other language bindings
/bindings/              @ethanglaser @ibhati @dian-lun-lin @Alexsandruss @ahuber21

# Examples and datasets
/examples/              @ibhati @dian-lun-lin @ahuber21
/data/                  @ibhati @ahuber21

# Docker and build environment
/docker/                @mihaic @ahuber21 

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov
