Repository intel/ScalableVectorSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel, @ethanglaser, @homksei, @aguerreb, @napetrov

.github/CODEOWNERS:

# C/C++ library code
/include/               @ibhati @dian-lun-lin @Alexsandruss @ahuber21
/cmake/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tests/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 @yuejiaointel 
/benchmark/             @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tools/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/utils/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 

# Python and other language bindings
/bindings/              @ethanglaser @ibhati @dian-lun-lin @Alexsandruss @ahuber21

# Examples and datasets
/examples/              @ibhati @dian-lun-lin @ahuber21
/data/                  @ibhati @ahuber21

# Docker and build environment
/docker/                @mihaic @ahuber21 

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov

feature: add consolidate and delete
  include/svs/index/flat/dynamic_flat.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: clean up
  include/svs/index/flat/dynamic_flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

1. Clarify inter/intra query threadpools and stream lined code in IVFIndex class 2. Add docstring in the high level class and methods 3. Use logging instead of fmt::print
  include/svs/index/ivf/hierarchical_kmeans.h
  include/svs/index/ivf/index.h
  include/svs/index/ivf/kmeans.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

feature: add python binding
  bindings/python/CMakeLists.txt
  bindings/python/src/python_bindings.cpp
  include/svs/index/flat/dynamic_flat.h
  include/svs/orchestrators/dynamic_flat.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add files
  bindings/python/include/svs/python/dynamic_flat.h
  bindings/python/src/dynamic_flat.cpp
  bindings/python/tests/test_dynamic_flat.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: fix test
  bindings/python/src/dynamic_flat.cpp
  bindings/python/tests/test_dynamic_flat.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: fix test
  include/svs/orchestrators/dynamic_flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Update docs to build 923
  _sources/advanced/index.rst.txt
  _sources/advanced/isa_dispatching.rst.txt
  _sources/start_cpp.rst.txt
  _static/basic.css
  _static/searchtools.js
  advanced/build.html
  advanced/graph_search.html
  advanced/index.html
  advanced/isa_dispatching.html
  advanced/static_dimensionality.html
  benchs/ablation.html
  benchs/dynamic.html
  benchs/index.html
  benchs/static/index.html
  benchs/static/latest.html
  benchs/static/previous.html
  benchs/static/previous/large_scale_benchs.html
  benchs/static/previous/small_scale_benchs.html
  features.html
  genindex.html
  howtos.html
  index.html
  objects.inv
  performance/index.html
  performance/multithreading.html
  prerequisites.html
  py-modindex.html
  python/common.html
  python/dynamic.html
  python/experimental/leanvec.html
  python/flat.html
  python/loaders.html
  python/logging.html
  python/vamana.html
  searchindex.js
  start_cpp.html
Owners: none

Update build parameter defaults
  bindings/python/src/vamana.cpp
  include/svs/index/vamana/index.h
  include/svs/lib/preprocessor.h
  tests/svs/index/vamana/dynamic_index_2.cpp
  tests/svs/index/vamana/index.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Update build parameter defaults (#176)
  bindings/python/src/vamana.cpp
  include/svs/index/vamana/index.h
  include/svs/lib/preprocessor.h
  tests/svs/index/vamana/dynamic_index_2.cpp
  tests/svs/index/vamana/index.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Simplify the hierarchical k-means using helper functions
  include/svs/index/ivf/common.h
  include/svs/index/ivf/hierarchical_kmeans.h
  include/svs/index/ivf/kmeans.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

v0.0.10 update
  CMakeLists.txt
  HISTORY.md
  NEWS.md
  bindings/python/setup.py
  bindings/python/tests/test_common.py
  tests/svs/lib/version.cpp
Owners: @aguerreb, @napetrov, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

v0.0.10 update (#177)
  CMakeLists.txt
  HISTORY.md
  NEWS.md
  bindings/python/setup.py
  bindings/python/tests/test_common.py
  tests/svs/lib/version.cpp
Owners: @aguerreb, @napetrov, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Add functions to check NaN values in data span
  include/svs/lib/misc.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Use std any_of/all_of instead of ranges
  include/svs/lib/misc.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add functions to check NaN values in data span (#178)
  include/svs/lib/misc.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: fix comments
  bindings/python/src/dynamic_flat.cpp
  bindings/python/tests/test_dynamic_flat.py
  include/svs/index/flat/dynamic_flat.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: fix var
  include/svs/index/flat/dynamic_flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add loader
  include/svs/index/flat/dynamic_flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add CMake 4 compatibility
  bindings/python/CMakeLists.txt
  bindings/python/pyproject.toml
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

chore(docs): add sqdataset documentation
  include/svs/quantization/scalar/scalar.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add CMake 4 compatibility (#179)
  bindings/python/CMakeLists.txt
  bindings/python/pyproject.toml
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add NumPy 2 compatibility
  bindings/python/pyproject.toml
  bindings/python/setup.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add NumPy 2 compatibility (#180)
  bindings/python/pyproject.toml
  bindings/python/setup.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add config to save and load and add pyton test for save and load
  bindings/python/src/dynamic_flat.cpp
  bindings/python/tests/test_dynamic_flat.py
  include/svs/index/flat/dynamic_flat.h
  include/svs/orchestrators/dynamic_flat.h
  include/svs/orchestrators/exhaustive.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: format
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
  include/svs/index/flat/dynamic_flat.h
  include/svs/index/vamana/dynamic_index.h
  include/svs/index/vamana/dynamic_search_buffer.h
  include/svs/lib/preprocessor.h
  include/svs/orchestrators/dynamic_flat.h
  include/svs/orchestrators/exhaustive.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @ahuber21, @Alexsandruss, @mihaic, @yuejiaointel

fix: format
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: format
  include/svs/index/vamana/dynamic_index.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: format
  include/svs/index/vamana/dynamic_index.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: format
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
  include/svs/index/vamana/dynamic_search_buffer.h
  include/svs/lib/preprocessor.h
Owners: @ibhati, @dian-lun-lin, @ahuber21, @Alexsandruss

feature: add dynamic support for flat index (#160)
  bindings/python/CMakeLists.txt
  bindings/python/include/svs/python/dynamic_flat.h
  bindings/python/src/dynamic_flat.cpp
  bindings/python/src/python_bindings.cpp
  bindings/python/tests/test_dynamic_flat.py
  include/svs/index/flat/dynamic_flat.h
  include/svs/orchestrators/dynamic_flat.h
  tests/CMakeLists.txt
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

IVF follow-up to add compressed vector search
  benchmark/include/svs-benchmark/ivf/test.h
  bindings/python/CMakeLists.txt
  data/test_dataset/reference/ivf_reference.toml
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @ethanglaser

Enable IVF tests in CI
  .github/workflows/build-linux-arm.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yaml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

revert
  .github/workflows/build-linux-arm.yml
  .github/workflows/build-macos.yaml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

typo
  .github/workflows/build-linux.yml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

Add support of IVF search with SQdataset fix formatting
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
  include/svs/extensions/ivf/scalar.h
  include/svs/index/ivf/common.h
  include/svs/index/ivf/hierarchical_kmeans.h
  include/svs/index/ivf/kmeans.h
  include/svs/index/vamana/dynamic_search_buffer.h
  include/svs/lib/misc.h
  include/svs/lib/preprocessor.h
  include/svs/quantization/scalar/scalar.h
  tests/CMakeLists.txt
  tests/integration/ivf/scalar_search.cpp
  tests/svs/index/vamana/dynamic_index_2.cpp
  tests/svs/index/vamana/index.cpp
  tests/svs/lib/version.cpp
Owners: @ibhati, @dian-lun-lin, @ahuber21, @Alexsandruss, @mihaic, @yuejiaointel

Adding example to build a dynamic index with vector compression.
  examples/cpp/shared/CMakeLists.txt
  examples/cpp/shared/example_vamana_with_compression_dynamic.cpp
Owners: @ibhati, @dian-lun-lin, @ahuber21

Enable IVF tests in Python
  bindings/python/include/svs/python/ivf.h
  bindings/python/setup.py
  bindings/python/src/ivf.cpp
  bindings/python/tests/common.py
  bindings/python/tests/test_ivf.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Just keep dynamic dimensionalities
  bindings/python/include/svs/python/ivf.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Adding Python example with LVQ.
  examples/python/example_vamana_with_compression_lvq.py
Owners: @ibhati, @dian-lun-lin, @ahuber21
