Repository intel/ScalableVectorSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel, @ethanglaser, @homksei, @aguerreb, @napetrov

.github/CODEOWNERS:

# C/C++ library code
/include/               @ibhati @dian-lun-lin @Alexsandruss @ahuber21
/cmake/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tests/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 @yuejiaointel 
/benchmark/             @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tools/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/utils/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 

# Python and other language bindings
/bindings/              @ethanglaser @ibhati @dian-lun-lin @Alexsandruss @ahuber21

# Examples and datasets
/examples/              @ibhati @dian-lun-lin @ahuber21
/data/                  @ibhati @ahuber21

# Docker and build environment
/docker/                @mihaic @ahuber21 

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov

Clang formatting
  benchmark/include/svs-benchmark/ivf/common.h
  benchmark/include/svs-benchmark/ivf/search.h
  benchmark/include/svs-benchmark/ivf/test.h
  benchmark/src/ivf/uncompressed.cpp
  bindings/python/src/ivf.cpp
  include/svs/index/ivf/clustering.h
  include/svs/index/ivf/common.h
  include/svs/index/ivf/hierarchical_kmeans.h
  include/svs/index/ivf/index.h
  include/svs/lib/datatype.h
  tests/integration/ivf/index_build.cpp
  tests/integration/ivf/index_search.cpp
  tests/svs/index/ivf/hierarchical_kmeans.cpp
  tests/svs/index/ivf/kmeans.cpp
  tests/utils/test_dataset.cpp
  utils/search_ivf.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @ethanglaser, @yuejiaointel

Use float MKL functions instead of double to reduce binary size
  cmake/mkl_functions
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Increase tolerance for ground truth test
  bindings/python/tests/test_common.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Increase tolerance for ground truth test (#157)
  bindings/python/tests/test_common.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Enable IVF by default (experimental)
  bindings/python/src/ivf.cpp
  cmake/options.cmake
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic

Use float MKL functions instead of double to reduce binary size (#158)
  cmake/mkl_functions
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Update to 0.0.8
  CMakeLists.txt
  HISTORY.md
  NEWS.md
  bindings/python/setup.py
  bindings/python/tests/test_common.py
  tests/svs/lib/version.cpp
Owners: @aguerreb, @napetrov, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

feature: use simpledata instead of the ImmutableMemoryDataset concept
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add conitiona in shared test for testing
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

fix: remove 86 options base
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

fix: fix spd log error
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

fix: add svs_x86_options_base
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

fix: disable svs finding conditionly
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

fix: revert to orig
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

update NEWS.md
  NEWS.md
Owners: @aguerreb, @napetrov

Update NEWS.md
  NEWS.md
Owners: @aguerreb, @napetrov

Update NEWS.md
  NEWS.md
Owners: @aguerreb, @napetrov

Update NEWS.md
  NEWS.md
Owners: @aguerreb, @napetrov

Add ARM/Mac support to NEWS
  NEWS.md
Owners: @aguerreb, @napetrov

clarify multi-vector/batch iterator
  NEWS.md
Owners: @aguerreb, @napetrov

Update to 0.0.8 (#159)
  CMakeLists.txt
  HISTORY.md
  NEWS.md
  bindings/python/setup.py
  bindings/python/tests/test_common.py
  tests/svs/lib/version.cpp
Owners: @aguerreb, @napetrov, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: Multi-vector dynamic vamana index Save/Load functionality
  include/svs/index/vamana/multi.h
  tests/svs/index/vamana/multi.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Selectively enable/disable IVF
  CMakeLists.txt
  benchmark/CMakeLists.txt
  benchmark/src/main.cpp
  cmake/options.cmake
  tests/CMakeLists.txt
  utils/CMakeLists.txt
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

clang format
  benchmark/src/main.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Python bindings enable/disable ivf
  bindings/python/CMakeLists.txt
  bindings/python/src/python_bindings.cpp
  cmake/mkl.cmake
  cmake/mkl_functions_ivf
  tests/CMakeLists.txt
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Remove mkl_functions_ivf from license check
  .github/.licenserc.yaml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

fix: Multi-vector dynamic vamana index Save/Load functionality (#162)
  include/svs/index/vamana/multi.h
  tests/svs/index/vamana/multi.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: add simple save
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add simple load
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: c++ test works
  include/svs/index/flat/flat.h
  tests/svs/index/flat/flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: fix test
  tests/svs/index/flat/flat.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

fix: add python test and binding
  bindings/python/src/flat.cpp
  bindings/python/tests/test_flat.py
  include/svs/index/flat/flat.h
  include/svs/orchestrators/exhaustive.h
  tests/svs/index/flat/flat.cpp
  tests/svs/index/vamana/multi.cpp
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: format
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: python binding and test
  bindings/python/src/flat.cpp
  bindings/python/tests/test_flat.py
  include/svs/index/flat/flat.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Update include/svs/index/flat/flat.h
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add save and load in flat integration
  tests/integration/exhaustive.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

fix: format
  tests/svs/index/flat/flat.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

fix: clean
  tests/svs/index/flat/flat.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

fix: clean
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: clean
  include/svs/index/flat/flat.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21
