Repository intel/ScalableVectorSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel, @ethanglaser, @homksei, @aguerreb, @napetrov

.github/CODEOWNERS:

# C/C++ library code
/include/               @ibhati @dian-lun-lin @Alexsandruss @ahuber21
/cmake/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tests/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 @yuejiaointel 
/benchmark/             @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tools/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/utils/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 

# Python and other language bindings
/bindings/              @ethanglaser @ibhati @dian-lun-lin @Alexsandruss @ahuber21

# Examples and datasets
/examples/              @ibhati @dian-lun-lin @ahuber21
/data/                  @ibhati @ahuber21

# Docker and build environment
/docker/                @mihaic @ahuber21 

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov

change to v0.0.9 (#169)
  CMakeLists.txt
  HISTORY.md
  NEWS.md
  bindings/python/setup.py
  bindings/python/tests/test_common.py
  tests/svs/lib/version.cpp
Owners: @aguerreb, @napetrov, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

support omp threadpool
  CMakeLists.txt
  cmake/openmp.cmake
  cmake/options.cmake
  include/svs/lib/threads/threadpool.h
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

revie to make the option consistent
  CMakeLists.txt
  cmake/options.cmake
  include/svs/lib/threads/threadpool.h
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Support omp threadpool (#170)
  CMakeLists.txt
  cmake/openmp.cmake
  cmake/options.cmake
  include/svs/lib/threads/threadpool.h
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

move omp flag to optionally defined
  CMakeLists.txt
  cmake/options.cmake
  include/svs/lib/preprocessor.h
  include/svs/lib/threads/threadpool.h
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Move OMP flag to optionally, manually defined (#171)
  CMakeLists.txt
  cmake/options.cmake
  include/svs/lib/preprocessor.h
  include/svs/lib/threads/threadpool.h
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix omp threading size
  include/svs/lib/threads/threadpool.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Fix omp threading size (#172)
  include/svs/lib/threads/threadpool.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Adding new examples for documenation.
  examples/cpp/shared/CMakeLists.txt
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
  examples/python/example_vamana_open_source.py
  examples/python/example_vamana_with_compression.py
Owners: @ibhati, @dian-lun-lin, @ahuber21

Update examples/cpp/shared/CMakeLists.txt
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

Fixing license header.
  examples/python/example_vamana_open_source.py
  examples/python/example_vamana_with_compression.py
Owners: @ibhati, @dian-lun-lin, @ahuber21

Removing Python example with compresion.
  examples/python/example_vamana_with_compression.py
Owners: @ibhati, @dian-lun-lin, @ahuber21

update examples readmes
  examples/cpp/README.md
  examples/cpp/shared/README.md
Owners: @ibhati, @dian-lun-lin, @ahuber21

minor fix to folder link
  examples/cpp/README.md
Owners: @ibhati, @dian-lun-lin, @ahuber21

another small fix
  examples/cpp/README.md
Owners: @ibhati, @dian-lun-lin, @ahuber21

drop shared.cpp from readme
  examples/cpp/shared/README.md
Owners: @ibhati, @dian-lun-lin, @ahuber21

address codefactor hits
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
Owners: @ibhati, @dian-lun-lin, @ahuber21

update file paths
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
Owners: @ibhati, @dian-lun-lin, @ahuber21

refactor shared cpp examples cmakelists.txt and filepaths
  examples/cpp/shared/CMakeLists.txt
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
Owners: @ibhati, @dian-lun-lin, @ahuber21

filesystem path fix
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
Owners: @ibhati, @dian-lun-lin, @ahuber21

split into multiple executable examples:
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

Use exe as variable in cmake function
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

minor fix
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

remove problematic project() call
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

use CMAKE_SOURCE_DIR instead of PROJECT_SOURCE_DIR
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

use relative path...
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

Update examples/cpp/shared/CMakeLists.txt
  examples/cpp/shared/CMakeLists.txt
Owners: @ibhati, @dian-lun-lin, @ahuber21

Make sure entry point id is correct with infinity/NaN values and SVS does not crash
  include/svs/core/medioid.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Adding new examples for documenation. (#173)
  examples/cpp/README.md
  examples/cpp/shared/CMakeLists.txt
  examples/cpp/shared/README.md
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
  examples/python/example_vamana_open_source.py
Owners: @ibhati, @dian-lun-lin, @ahuber21

Fix entry point handling for Infinity/NaN data values to prevent SVS Crash (#174)
  include/svs/core/medioid.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Testing
  roadmap.html
Owners: none

Testing 2
  roadmap.html
Owners: none

fix: add this
  include/svs/lib/misc.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: try both wih this and fall back to without this
  include/svs/lib/misc.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add svs lazy mamber
  include/svs/lib/misc.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: try a nother solution
  include/svs/lib/misc.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add this (#175)
  include/svs/lib/misc.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: add search
  include/svs/index/flat/dynamic_flat.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

fix: use typename data
  include/svs/index/flat/dynamic_flat.h
  include/svs/index/vamana/dynamic_index.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: delete
  include/svs/index/flat/dynamic_flat.h
  tests/svs/index/flat/dynamic_flat.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel
