Repository intel/ScalableVectorSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel, @ethanglaser, @homksei, @aguerreb, @napetrov

.github/CODEOWNERS:

# C/C++ library code
/include/               @ibhati @dian-lun-lin @Alexsandruss @ahuber21
/cmake/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tests/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 @yuejiaointel 
/benchmark/             @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/tools/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 
/utils/                 @mihaic @ibhati @dian-lun-lin @Alexsandruss @ahuber21 

# Python and other language bindings
/bindings/              @ethanglaser @ibhati @dian-lun-lin @Alexsandruss @ahuber21

# Examples and datasets
/examples/              @ibhati @dian-lun-lin @ahuber21
/data/                  @ibhati @ahuber21

# Docker and build environment
/docker/                @mihaic @ahuber21 

# CI and infra
/.github                @mihaic @homksei @yuejiaointel @ethanglaser

# Documentation and meta files
/*.md                   @aguerreb @napetrov
/THIRD-PARTY-PROGRAMS   @aguerreb @napetrov

Support DataLoader in DynamicVamana.build
  .gitignore
  bindings/python/src/dynamic_vamana.cpp
  bindings/python/tests/test_dynamic_vamana.py
  include/svs/orchestrators/dynamic_vamana.h
  tests/CMakeLists.txt
  tests/svs/orchestrators/dynamic_vamana.cpp
  tests/utils/test_dataset.h
  tests/utils/vamana_reference.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Support DataLoader in DynamicVamana.build (#186)
  .gitignore
  bindings/python/src/dynamic_vamana.cpp
  bindings/python/tests/test_dynamic_vamana.py
  include/svs/orchestrators/dynamic_vamana.h
  tests/CMakeLists.txt
  tests/svs/orchestrators/dynamic_vamana.cpp
  tests/utils/test_dataset.h
  tests/utils/vamana_reference.h
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Add Git hook for clang-format with pre-commit
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  bindings/python/src/dynamic_vamana.cpp
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
  include/svs/index/ivf/common.h
  include/svs/index/ivf/hierarchical_kmeans.h
  include/svs/index/ivf/kmeans.h
  include/svs/index/vamana/dynamic_search_buffer.h
  include/svs/lib/misc.h
  include/svs/lib/preprocessor.h
  include/svs/orchestrators/dynamic_vamana.h
  tests/svs/index/vamana/dynamic_index_2.cpp
  tests/svs/index/vamana/index.cpp
  tests/svs/lib/version.cpp
  tests/svs/orchestrators/dynamic_vamana.cpp
  tests/svs/orchestrators/vamana.cpp
  tests/utils/test_dataset.h
  tests/utils/vamana_reference.h
  tools/clang-format.sh
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add missing notice headers
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

Fix YAML format
  .github/workflows/pre-commit.yml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

Fix pre-commit action version
  .github/workflows/pre-commit.yml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

Add Git hook for clang-format with pre-commit (#187)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  bindings/python/src/dynamic_vamana.cpp
  examples/cpp/shared/example_vamana_with_compression.cpp
  examples/cpp/shared/example_vamana_with_compression_lvq.cpp
  include/svs/index/ivf/common.h
  include/svs/index/ivf/hierarchical_kmeans.h
  include/svs/index/ivf/kmeans.h
  include/svs/index/vamana/dynamic_search_buffer.h
  include/svs/lib/misc.h
  include/svs/lib/preprocessor.h
  include/svs/orchestrators/dynamic_vamana.h
  tests/svs/index/vamana/dynamic_index_2.cpp
  tests/svs/index/vamana/index.cpp
  tests/svs/lib/version.cpp
  tests/svs/orchestrators/dynamic_vamana.cpp
  tests/svs/orchestrators/vamana.cpp
  tests/utils/test_dataset.h
  tests/utils/vamana_reference.h
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Build and install Custom MKL for IVF
  bindings/python/setup.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Incorporate codefactor suggestions
  bindings/python/tests/test_ivf.py
  bindings/python/tests/test_vamana.py
Owners: @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Testing
  .github/workflows/build-linux-arm.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yaml
  .github/workflows/cibuildwheel.yml
  .github/workflows/pre-commit.yml
  .github/workflows/skywalking-eyes.yml
  tests/integration/ivf/index_build.cpp
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Testing
  .github/workflows/build-linux.yml
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser

CI testing
  .github/workflows/build-linux.yml
  tests/integration/ivf/index_build.cpp
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Testing CI 2
  tests/integration/ivf/index_build.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

Revert CI testing changes
  .github/workflows/build-linux-arm.yml
  .github/workflows/build-macos.yaml
  .github/workflows/cibuildwheel.yml
  .github/workflows/pre-commit.yml
  .github/workflows/skywalking-eyes.yml
  tests/integration/ivf/index_build.cpp
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add support for compressed vector search to IVF (#184)
  .github/workflows/build-linux.yml
  benchmark/include/svs-benchmark/ivf/test.h
  bindings/python/CMakeLists.txt
  bindings/python/include/svs/python/ivf.h
  bindings/python/setup.py
  bindings/python/src/ivf.cpp
  bindings/python/tests/common.py
  bindings/python/tests/test_ivf.py
  bindings/python/tests/test_vamana.py
  data/test_dataset/reference/ivf_reference.toml
  include/svs/extensions/ivf/scalar.h
  include/svs/quantization/scalar/scalar.h
  tests/CMakeLists.txt
  tests/integration/ivf/index_build.cpp
  tests/integration/ivf/scalar_search.cpp
Owners: @mihaic, @homksei, @yuejiaointel, @ethanglaser, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Fixing license header.
  examples/python/example_vamana_with_compression_lvq.py
Owners: @ibhati, @dian-lun-lin, @ahuber21

Fixing formatting issues.
  examples/cpp/shared/example_vamana_with_compression_dynamic.cpp
Owners: @ibhati, @dian-lun-lin, @ahuber21

Renaming file as a temporary fix to prevent automated testing.
  examples/python/vamana_with_compression_lvq.py
Owners: @ibhati, @dian-lun-lin, @ahuber21

Updating README in examples/cpp/shared folder.
  examples/cpp/shared/README.md
Owners: @ibhati, @dian-lun-lin, @ahuber21

Adding C++ and Python usage examples. (#185)
  examples/cpp/shared/CMakeLists.txt
  examples/cpp/shared/README.md
  examples/cpp/shared/example_vamana_with_compression_dynamic.cpp
  examples/python/vamana_with_compression_lvq.py
Owners: @ibhati, @dian-lun-lin, @ahuber21

Update documentation to build 988.
  _sources/advanced/build.rst.txt
  _sources/howtos.rst.txt
  _sources/start.rst.txt
  _sources/start_cpp.rst.txt
  advanced/build.html
  advanced/static_dimensionality.html
  benchs/ablation.html
  benchs/dynamic.html
  benchs/static/latest.html
  benchs/static/previous/large_scale_benchs.html
  benchs/static/previous/small_scale_benchs.html
  cpp/index/dynamic_vamana.html
  cpp/index/index.html
  features.html
  genindex.html
  howtos.html
  objects.inv
  performance/multithreading.html
  prerequisites.html
  python/dynamic.html
  python/vamana.html
  searchindex.js
  start.html
  start_cpp.html
Owners: none

Update documentation to build 988. (#190)
  _sources/advanced/build.rst.txt
  _sources/howtos.rst.txt
  _sources/start.rst.txt
  _sources/start_cpp.rst.txt
  advanced/build.html
  advanced/static_dimensionality.html
  benchs/ablation.html
  benchs/dynamic.html
  benchs/static/latest.html
  benchs/static/previous/large_scale_benchs.html
  benchs/static/previous/small_scale_benchs.html
  cpp/index/dynamic_vamana.html
  cpp/index/index.html
  features.html
  genindex.html
  howtos.html
  objects.inv
  performance/multithreading.html
  prerequisites.html
  python/dynamic.html
  python/vamana.html
  searchindex.js
  start.html
  start_cpp.html
Owners: none

Add element_size function for Dataset elements
  include/svs/core/data/simple.h
  include/svs/quantization/scalar/scalar.h
  tests/svs/core/data.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Vamana index save/load to a stream using intermendiate temp directory.
  include/svs/lib/file.h
  include/svs/orchestrators/dynamic_vamana.h
  include/svs/orchestrators/vamana.h
  tests/svs/lib/file.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Add integration test
  tests/integration/vamana/index_search.cpp
Owners: @mihaic, @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @yuejiaointel

Extend tests and functionality
  include/svs/index/flat/flat.h
  include/svs/orchestrators/dynamic_flat.h
  include/svs/orchestrators/dynamic_vamana.h
  include/svs/orchestrators/exhaustive.h
  include/svs/orchestrators/vamana.h
  tests/integration/exhaustive.cpp
  tests/integration/vamana/scalar_search.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Fix format
  include/svs/orchestrators/dynamic_flat.h
  tests/integration/vamana/index_search.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Fix Flat Orchestrator assemble()
  include/svs/orchestrators/exhaustive.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Vamana index save/load to a stream using intermendiate temp directory. (#192)
  include/svs/index/flat/flat.h
  include/svs/lib/file.h
  include/svs/orchestrators/dynamic_flat.h
  include/svs/orchestrators/dynamic_vamana.h
  include/svs/orchestrators/exhaustive.h
  include/svs/orchestrators/vamana.h
  tests/integration/exhaustive.cpp
  tests/integration/vamana/index_search.cpp
  tests/integration/vamana/scalar_search.cpp
  tests/svs/lib/file.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Rename global variable name to guard against conflicts
  include/svs/index/ivf/common.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

clang-format
  include/svs/core/distance/cosine.h
  include/svs/core/distance/euclidean.h
  include/svs/core/distance/inner_product.h
  include/svs/core/distance/simd_utils.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Refactor AVX2 distance computations to consistently use generic_simd_op (#196)
  include/svs/core/distance/cosine.h
  include/svs/core/distance/euclidean.h
  include/svs/core/distance/inner_product.h
  include/svs/core/distance/simd_utils.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Delete _codeql_detected_source_root
  _codeql_detected_source_root
Owners: none

Add element_size function for Dataset and SQDataset elements. Added 'Check element_size' test cases with full datatypes coverage.
  include/svs/core/data/simple.h
  include/svs/quantization/scalar/scalar.h
  tests/svs/core/data.cpp
  tests/svs/quantization/scalar/scalar.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

reword comment, sort includes
  include/svs/multi-arch/x86/avx2.cpp
  include/svs/multi-arch/x86/avx512.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

Add element_size function for Dataset and SQDataset elements (#191)
  include/svs/core/data/simple.h
  include/svs/quantization/scalar/scalar.h
  tests/svs/core/data.cpp
  tests/svs/quantization/scalar/scalar.cpp
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21, @mihaic, @yuejiaointel

Update shared example to support pip/conda lib
  examples/cpp/shared/CMakeLists.txt
  examples/cpp/shared/README.md
Owners: @ibhati, @dian-lun-lin, @ahuber21

fix typo
  examples/cpp/shared/README.md
Owners: @ibhati, @dian-lun-lin, @ahuber21

Sort the buffer before adding new neighbors to ensure buffer invariants are honored
  include/svs/index/vamana/extensions.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21

fix: reduce index load memory spike; MAP_POPULATE requires SVS_ENABLE_MAP_POPULATE
  include/svs/core/allocator.h
Owners: @ibhati, @dian-lun-lin, @Alexsandruss, @ahuber21
